<!-- _includes/carousel.html -->
<div class="carousel">
  <div class="carousel-container">
    {% for image in page.carousel_images %}
    <img src="{{ image }}" alt="Carousel image" class="carousel-image">
    {% endfor %}
  </div>
  <div class="carousel-controls">
    <button class="prev" onclick="prevSlide()">&#9664;</button>
    <div class="carousel-indicator">
      <span id="current-slide">1</span> / <span id="total-slides">{{ page.carousel_images | size }}</span>
    </div>
    <button class="next" onclick="nextSlide()">&#9654;</button>
  </div>
</div>
